.transaction-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .account-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .balance-breakdown {
    display: flex;
    gap: 1rem;
  }
  
  .transaction-history {
    width: 100%; /* Adjust as needed */
    border-collapse: collapse;
  }
  
  .txHistory {
    border-bottom: 1px solid #ddd;
    padding: 0.5rem;
  }
  
  .txHistory.header {
    font-weight: bold; /* Style the header row */
  }
  
  .txHistory td,
  .txHistory th {
    text-align: center;
    padding: 0.5rem;
  }
  
  .green-button {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .red-button {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .user-mgmt{
    border-bottom: 1px solid #c8c9f8;
    background-color: #e5e5fa;
    padding: 8px 16px;
  }

  .depos-money{
    border-bottom: 2px solid #ffffff;
    height: 200px;
  }

  .withdrow-fund{
    border-bottom: 2px solid #ffffff;
    height: 200px;
  }

  .transfer-funds{
    border-bottom: 2px solid #ffffff;
    height: 200px;
  }